<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698351693923-o3f08hk2a1rnqmq09da3kje3bkl2fkvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698351693923-o3f08hk2a1rnqmq09da3kje3bkl2fkvp</string>
	<key>API_KEY</key>
	<string>AIzaSyABf6DJ4Mf8cMAKImXoWmf8f0518q8LFMc</string>
	<key>GCM_SENDER_ID</key>
	<string>698351693923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ninja.electricityUsage</string>
	<key>PROJECT_ID</key>
	<string>electricityusage-32cb1</string>
	<key>STORAGE_BUCKET</key>
	<string>electricityusage-32cb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698351693923:ios:2c4622cf483511b3e80856</string>
</dict>
</plist>